@import './font.css';

html {
  --main-color: 0, 0%, 92%;
  --accent-color: 0, 0%, 82%;
  --text-color: 0, 0%, 5%;
  --placeholder-color: 0, 0%, 92%;
  --fail-color: 353, 100%, 69%;
  --success-color: 205, 45%, 68%;
  --side-bar: 5rem;
}

* {
  box-sizing: border-box;
}

:-moz-placeholder {
  color: hsl(var(--placeholder-color));
}

::-webkit-input-placeholder {
  color: hsl(var(--placeholder-color));
}

input {
  color: hsl(var(--text-color));
}

*:focus {
  outline: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

strong,
b {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul,
ol {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  display: inline;
  text-decoration: underline;
}

button {
  text-transform: uppercase;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: hsl(var(--main-color));
  color: hsl(var(--text-color));
  font-family: 'Roboto';
  font-weight: 300;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.grid {
  margin: 1rem;
}

p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: hsl(var(--accent-color));
  cursor: pointer;
  text-transform: uppercase;
}

.has-focus {
  border-radius: 3px;
  box-shadow: 0 0 0 1px #3ea4ffe6;
}

/* Дропзона */
.wrapper-dz {
  position: relative;
}

.wrapper-dz .stub {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 0.5rem;
}

#customdropzone {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
  min-height: 15rem;
  border: 2px dashed hsl(var(--accent-color));
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#customdropzone .dz-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid hsl(var(--accent-color));
  border-radius: 0.5rem;
  overflow: hidden;
}

#customdropzone .dz-preview .dz-description {
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 0.3rem solid hsl(var(--main-color));
  margin-bottom: 0;
  padding: 0.2rem;
  font-size: 80%;
}

#customdropzone .dz-preview img {
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

#customdropzone .dz-preview .dz-details {
  text-align: center;
}

#customdropzone .dz-preview .dz-details .dz-filename {
  margin-bottom: 0.5rem;
}

#customdropzone .dz-remove {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background-color: #cc4b37;
  color: #fff;
  padding: 0.3rem 0.1rem;
}

/* Дропзона END */

/* Editor */
.ck.ck-content {
  background: #fff;
  height: 60vh;
  min-height: 15rem;
}

.ck.ck-content p {
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.ck.ck-content ol,
.ck.ck-content ul {
  margin-left: 0;
}
/* Editor END */

@media only screen and (max-width: 1200px) {
  #customdropzone {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1023px) {
  #customdropzone {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  #customdropzone {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 413px) {
  #customdropzone {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 
@media only screen and (min-width: 320px) and (max-width: 413px) {}

@media only screen and (min-width: 414px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) {} */
